
/*Setting the defult to 0, so images go to the edge*/
html, body{
  margin: 0;
  padding: 0;
}


/*Joe Hisaishi image*/
img{
    width: 100%;
}


/* Music page's off white background*/
body.musicpage{
    background-color: whitesmoke;
}

/*Text of the page*/
h1.musicpage{
  color: rgb(113, 77, 77);
  font-size: 100px;
  font-family: 'ITC Avant Garde Gothic Medium', sans-serif;
  text-align: center; /*centering the title*/
}

h2.musicpage{
  color:rgb(227, 163, 36);
  font-size: 40px;
  font-family: 'ITC Avant Garde Gothic Medium', sans-serif;
  text-align: center; /*centering the title*/
  margin: 10px 170px 10px 170px;
}

#back2div{
  color: whitesmoke;
  margin: 25px 140px 50px 140px;
  font-family: 'ITC Avant Garde Gothic Medium', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}


/*Table*/
table, th, td {
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto; 
 /* border-bottom: 3px solid rgb(227, 163, 36, 0.5);*/
}


#moveoverright{ /*Move only right side of table header over to the right*/
  padding-left: 200px;
}

th { 
  font-family: 'ITC Avant Garde Gothic Medium', sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding: 50px 50px 50px 50px 
}

td { 
  font-family: 'ITC Avant Garde Gothic Medium', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

tr:hover {background-color: rgb(227, 163, 36, 0.5);}


#note{
  color: rgb(227, 163, 36);
  font-size: 15px;
  font-family: 'ITC Avant Garde Gothic Medium', sans-serif;
  text-align: center; 
  margin: 0px 150px 0px 150px;
}



/*Musicpage's colored div backgrounds*/
.back1music
{
  background-color: rgb(24, 65, 91);
  padding-top: 100px; 
  padding-bottom: 100px;
  width: 100%;
}

.back2music{
  background-color: rgb(113, 77, 77);
  padding-top: 100px; 
  padding-bottom: 100px;
  width: 100%;
}


.back3music{
  background-color: #282828; /*Matches embeded color from Spotify*/
  padding-top: 50px; 
  padding-bottom: 50px;
  width: 100%;
}



/* Music page's iframes*/
iframe {
  display: block;
  margin-left: auto;
  margin-right: 70px;
  width: 55%;   
  float: right; 
}


/*------------------------------------------------------------------*/
/*Sidebar*/


/* The sidebar menu */
.sidebar {
  height: 100%; /* Full-height when opened */
  width: 0; 
  position: fixed; 
  z-index: 1;
  top: 0;
  left: 0;
  background-color: lightblue; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Content is 60px from top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  opacity: 1;
  font-family: 'ITC Avant Garde Gothic Medium', sans-serif;
}

/* Sidebar hyperlinks to other pages */
.sidebar a {
  padding: 8px 8px 8px 45px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #f1f1f1;
}

/* The X button (top right when sidebar is open) */
.sidebar .closebtn {
  position: absolute;
  top: 5px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Sidebar opening hamburger button */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: lightblue;
  color: white;
  padding: 10px 15px;
  border: none;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.6;
}
.openbtn:hover {
  background-color: #9BBC47;
}
